footer {
  background-color: black;
  color: white;
  padding: 20px 0;
  font-size: 14px;
  margin-top: auto;
  width: 100%;
  z-index: 1000;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

p {
  margin: 0;
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #662268;
}

.fab {
  font-size: 18px;
}

@media (max-width: 600px) {
  footer {
    font-size: 12px;
    padding: 10px 0;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .social-links {
    margin-top: 10px;
  }
}