
body {
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif; /* Fuente general */
    color: #333; /* Color del texto */
    background-color: #ffffff; /* Fondo blanco */    
}

h1 {
    color: #35424a;
    margin-bottom: 20px;
  }
.button {
    background-color: #35424a; /* Fondo del botón */
    color: #ffffff; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor a mano */
    transition: background-color 0.3s; /* Transición de color */
}

.button:hover {
    background-color: #252b2e; /* Color de fondo al pasar el cursor */
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
.input-container{
    display: flex; 
    flex-direction: column; 
    gap: 20px;
}