<div class="stock-search-container">
  <h2>Buscador de acciones</h2>

  <form class="form-container" [formGroup]="stockForm" (submit)="getStockData()">
    <div class="input-container">
      <label for="ticker">Ticker</label>
      <input formControlName="ticker" type="text" id="ticker" placeholder="Ingrese el simbolo (ej. AAPL)">
    </div>

    <div class="input-container">
      <label for="startDate">Start Date</label>
      <input formControlName="startDate" type="date" id="startDate">
    </div>

    <div class="input-container">
      <label for="endDate">End Date</label>
      <input formControlName="endDate" type="date" id="endDate">
    </div>

    <button type="submit" class="button">Obtener datos</button>
  </form>

</div>
@if(stockData && stockData.results){
<h3>Resultados para {{ stockData.ticker }}</h3>
<table>
  <thead>
    <tr>
      <th>Volumen </th>
      <th>VWAP</th>
      <th>Apertura</th>
      <th>Cierre</th>
      <th>Máximo</th>
    </tr>
  </thead>
  <tbody>
    @for(result of stockData.results; track result.v){
    <tr>
      <td>{{ result.v }}</td>
      <td>{{ result.vw }}</td>
      <td>{{ result.o }}</td>
      <td>{{ result.c }}</td>
      <td>{{ result.h }}</td>
    </tr>

    }
  </tbody>
</table>
}